<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kony.push.customfcmservice">

    <!-- Permiso necesario para Android 13+ -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>
